/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
}

/*
*.cover-container {
*  max-width: 42em;
*}
*/


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#button{
    border: 2px solid;
    border-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 8px 2px;
    cursor: pointer;
    padding: 10px 24px;
    color: white;
    background-color: transparent;
}
#button:hover, #down:hover{
  background-color: rgba(255, 255, 255, 0.048);
  color: rgb(46, 139, 214);
  border-color: rgb(46, 139, 214);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
    margin-left: 5%;
  }
  .nav-masthead {
    float: right;
    margin-left: 60%;
  }
  .principal{
    float: none;
    margin-left: 0%;
    text-align: left;
  }
  #button{
    margin-left: 25%;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

#frase::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}